
nav{
    width: 100%;
    display: flex;
    background-color: black;
    color: rgb(8, 9, 9);
    font-family: 'Inconsolata', monospace;
font-family: 'Source Serif Pro', serif;
font-family: 'Work Sans', sans-serif;
margin: 0;
padding: 0;
justify-content: space-between;
}
 nav h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5rem;
    width: 20%; 
    background-color: rgb(125, 116, 116);
    }
    
 nav ul {
    list-style: none;
    display: flex;
    width: 75%;
    justify-content: space-evenly;
 }
 nav ul li a {
    font-family: 'Inconsolata', monospace;
    color :rgb(209, 203, 195);
    font-size: 1.5rem; 
 }
 nav ul li {
    margin-top: 1.5%;
    margin-left: 5%;
    font-family: 'Inconsolata', monospace;
 }
 figure {
    width: 100%;
    height: 30vh;
    background-image: url(./boy-meditating-life-triangle-4k-vw-2048x1152.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
 }
 
 .row {
    display: flex;
 }
 .side-nav {
    width: 20%;
    border-right: 5px solid black;
 }
 .content {
    width: 80%;
    height: 50px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
}

.image2 {
   position: absolute;
   top: 150px;
   left: 30px;
   border: 3px var(--primary-color) solid;
   height:150px;
   width: 150px;
   border-right: 3px solid #070808;
   border-left: 3px solid #0c0e0f;
   border-bottom: 3px solid #040505;
   border-top: 3px solid #060808;
}
.image-bank {
   width: 600px;
   margin-block-end: 25px;
   position: relative;
   left: 400px
}
.image-customer {
   width: 700px;
   margin-block-end: 25px;
   position: relative;
   left: 700px
}
.image-website {
   width: 500px;
   position: relative;
   left: 400px
}
